.content{
  font-family: "Chalkduster",fantasy;
  padding: 100px 100px;
  width:100%;
  max-width:1200px;
  margin-bottom: 60px;

}

#intro{
  font-size: 1.4em;
  background-color: rgba(107,81,82,0.5);
  text-align: center;
  color:white;
  margin-bottom: 50px;
}

/* #pA a{
  width:30px;
  height:70px;
  background-image: url('player1.jpg');
}

#pB a{
  width:30px;
  height:70px;
  background-image: url('player2.jpg');
}

#pC a{
  width:30px;
  height:70px;
  background-image: url('player3.jpg');
} */


.big-projects a{
  /* text-align: center; */
  color:rgb(150,84,84);
  font-size: 2em;
  margin-left: 40px;
  margin-right: 200px;
  margin-bottom: 1000px;
  width:auto;
  height:auto;
   background-image: url('player1.jpg');
  background-color: pink;
  font-family:"Jazz LET",fantasy;



}






.small-projects a{
  width:200px;
  height:200px;
  color:rgb(177,122,125);
  /* background-image: url('m1.png'); */
  font-size: 1.5em;

  /* margin-right:120px;
  margin-left: 130px;
  margin-top: 100px;
  margin-bottom:30px; */
  font-family:"Jazz LET",fantasy;
  margin-bottom:50px;
}

#m1{
  background-image: url('m1.png');
  width:auto;
  height:auto;
  margin-right: 400px;
  margin-bottom: 100px;
  margin-left:80px;

}

#m3{
  background-image: url('m3.png');
  margin-right: 300px;
  margin-bottom:50px;
}

#m5{
  background-image: url('m5.png');
  margin-right:240px;
  margin-left: 40px;
}

#m7{
  background-image: url('m7.png');
}

#m2{
  background-image: url('m2.png');
}
#m4{
  background-image: url('m4.png');
}
#m6{
  background-image: url('m6.png');
}
